body{
    margin: 0px;
    padding: 0px;
}
h1{
    color:  rgb(228, 107, 137);
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.link-button{
    color: white;
    background-color: rgb(228, 107, 137);
    text-decoration: none;
    border-radius: 8px;
    padding:8px 20px;
}
.half-width{
    border: 10px;
    width: 40%;
    float: left;
    margin-top:5%;
    margin-left: 8%;
    padding: auto;
}
.picture{
    width: 500px;
    position: relative;
    bottom: 40px;
    
}
#intro{
    margin-top: 10%;
    left: 15%;
    padding: 2%;
}
.banner{
    background-image: url(/header-bg.png);
    background-size:100%;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
section{
    height: 600px;
}

.biography{
    background-image: url(/biography-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#work{
    color: black;
    font-size: 50px;
    text-align: center;
    margin-top: 300px;
}
.work-banner{
    background-image: url(/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.pic{
    width: 30%;
    margin: 10px; 
    float: left;
}
.footer-text{
    text-align: center;
}
#gray-text{
    color: gray;
    margin-top:-10px ;
}
.contact{
    background-image:linear-gradient(180deg,pink, rgb(184, 53, 74));
    width: 500px;
    height: 120px;
    border-radius: 10px;
    position: absolute;
    left: 30%;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}
footer{
    text-align: center;
}